.check-button {
    margin-left: 2em;
    padding: 1px;
    border: 1px solid #ccd;
    border-radius: 3px;
}

#jviuh5o6y6622osz {
  line-height: 1em;
  margin-left: 10px;
  padding: 2px;
  border-radius: 3px;
  border: 1px solid #ccd;
  vertical-align: middle;
}